@font-face{
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: "open_sanslight";
    text-align: center;
}
footer
{
    background: #000;
	padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px
}
footer p
{
    color: #fff;
    opacity: 0.3;
}
footer p a
{
    color: #fff;
    text-decoration: none;
}
#webinarios
{
    background: white;
}
#webinarios h1 span
{
    color: #000;
    font-size: 84px;
    font-weight: normal;
    line-height: 90px;
    text-transform: uppercase;
}
#webinarios h3
{
    background: url('../img/yellow-v.png') no-repeat center top;
    margin-bottom: 60px;
    padding-top: 26px;
}
#webinarios h3 span
{
    background: #FFC000;
    border-bottom: double 8px #fff;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 31px;
    padding: 10px;
}

/*NEWS*/

.news-block{
}
.news-block-wrap{
    background: #FFC000;
}
.news-pad{
    padding: 15px;
}
.news-block-content{
    padding: 30px;
    background: #eee;
    border: solid 1px #E5E5E5;
}
.news-block-content p{
    color: #444 !important;
    margin-bottom: 10px;
}
.news-heading{
    font-size: 24px;
    line-height: 31px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
    font-family:"open_sansbold" !important;
}
.news-heading p{
    color: #444;
}
.news-specs{
    padding: 30px;
    background: #FFC000;
}
.news-specs nav a{
    text-decoration: none;
    margin-right: 10px;
}
.news-specs nav a > img{
    width: 28px;
    height: 28px;
}
.news-specs-info{
    color: #000;
    font-family:"open_sanslight" !important;
}
.news-btn{
    border: solid 2px #000;
    background: #fff;
    padding: 5px 10px;
    float: left;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: #fff;
    font-family:"open_sansbold" !important;
    text-transform: uppercase;
}
.news-btn:hover{
    background: #fff;
    color: #000;
    text-decoration: none;
}
.add-top-news{
    margin-top: 30px;
}
.news-date{
    text-align: center;
    width: 100px;
    background: #FFC000;
    position: absolute;
    padding: 10px 15px;
}
.news-date h2{
    margin-top: 0px;
    color: #fff;
    font-size: 64px;
    line-height: 68px;
    margin-bottom: 0px;
    font-family:"open_sansbold" !important;
}
.news-date h5{
    margin-top: 0px;
    color: #000;
    font-size: 24px;
    line-height: 28px;
}
.news-date h4{
    margin-top: 0px;
    color: #fff;
    background: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 0px;
    font-family:"open_sanslight";
}












.datos_itm
{
    background: url('../img/dark-bg.png') repeat;
    color: #fff;
    font-size: 24px;
    padding: 80px 0px;
}
.datos_itm .datos
{
    margin-bottom: 50px;
}
.datos_itm .social a {
    background: #181818;
    border-radius: 30px;
    height: 30px !important;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px 15px;
    width: 20px !important;
}
.datos_itm .social a img{
    vertical-align: middle;
}
.datos_itm .social a.facebook:hover {
    background: #4470CF;
}
.datos_itm .social a.google:hover {
    background: #DA2713;
}

